# Importações básicas

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pyspark.sql.functions as F


from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

# Iniciar a sessão Spark

In [5]:
spark = SparkSession.builder\
                    .config("spark.master","local[*]")\
                    .appName("Tranformações - Aula x")\
                    .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/08/20 14:47:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Tranformações de dataframe

## Criação de dataframe spark

In [7]:
# cria array com o conteúdo a ser posto no dataframe
registrosEmpregados = [
    ("Abgail Correa"     ,"18/09/1985","F","Engheira de Dados" ,2,True ,True ,11250.95),
    ("André dos Santos"  ,"02/02/1983","M","Assessor RH"       ,1,False,True ,9846.33),
    ("Bruna Souza"       ,"05/12/1994","F","Assessora Vendas"  ,3,True ,True ,8960.47),
    ("Bernado Nogueira"  ,"05/06/1998","M","Assessor de TI"    ,2,False,True ,9862.32),
    ("Carlos Bonfim"     ,"26/01/1979",None,"Gerentes de TI"   ,2,True ,False,21641.84),
    ("Cristina Batista"  ,"17/11/1989","F","Cientista de Dados",2,False,True ,13945.09),
    ("Daniel Silva"      ,"12/09/1978","M","Assessor Vendas"   ,3,True ,True ,9016.14),
    ("Darlene Campos"    ,"19/11/1991","F","Gerente de RH"     ,1,False,False,20365.66),
    ("Fabiana Monteiro"  ,"22/04/1988","F","Gerente de Vendas" ,3,True ,False,15360.70),
    ("Francisco Oliveira","19/01/1989",None,"Analista de Dados",2,False,True ,10563.61)
]

colunas = ["nome","data_nasc","sexo","func","setor","ind_prev_priv","ind_ponto_elt","sal_bruto"]

empDF = spark.createDataFrame(registrosEmpregados).toDF(*colunas)

In [10]:
empDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

In [9]:
empDF.printSchema()

root
 |-- nome: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- func: string (nullable = true)
 |-- setor: long (nullable = true)
 |-- ind_prev_priv: boolean (nullable = true)
 |-- ind_ponto_elt: boolean (nullable = true)
 |-- sal_bruto: double (nullable = true)

Criar um dataframe chamado setorDF(referente aos setores da empresa)
 
 O dataframe deverá conter os seguintes valores e estrutura:
 
+---------+----------+
|cod_setor|nome_setor|
+---------+----------+
|        1+        RH|
+---------+----------+
|        2+        TI|
+---------+----------+
|        3+    Vendas|
+---------+----------+

In [12]:
# Atividade 01
setores = [
    (1,"RH"),
    (2,"TI"),
    (3,"Vendas")
]

colunas = ["cod_setor","nome_setor"]

setorDF = spark.createDataFrame(setores).toDF(*colunas)

In [14]:
setorDF.show()

+---------+----------+
|cod_setor|nome_setor|
+---------+----------+
|        1|        RH|
|        2|        TI|
|        3|    Vendas|
+---------+----------+

In [16]:
setorDF.show()

+---------+----------+
|cod_setor|nome_setor|
+---------+----------+
|        1|        RH|
|        2|        TI|
|        3|    Vendas|
+---------+----------+

## Reorganização de registros (orderBy e sort)

### crescente

In [18]:
empOrdCresSalDF = empDF.orderBy("nome")

empOrdCresSalDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

In [19]:
empOrdCresSalDF = empDF.orderBy("sal_bruto")

empOrdCresSalDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

### Decrecente

In [23]:
empOrdCresSalDF = empDF.sort(F.desc("sal_bruto"))

empOrdCresSalDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

### ordenação com valores nulos

#### Ordenação descrescemte com os nulos nos primeiros registros

In [26]:
empOrdDecrSexNullLastDF = empDF.orderBy(F.desc_nulls_last ("sexo"))

empOrdDecrSexNullLastDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

#### Ordenação crescente com os nulos nos primeiros registros

In [27]:
empOrdCrescSexNullFirstDF = empDF.orderBy(asc_nulls_first("sexo"))

empOrdCrescSexNullFirstDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

#### Ordenação crescente com os nulos nos últimos registros

In [28]:
empOrdCrescSexNullLastDF = empDF.orderBy(col("sexo").asc_nulls_last())

empOrdCrescSexNullLastDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

## Exclusão e inclusão de colunas

### Exclusão

#### select

In [31]:
empOrdCrescSexNullLastDF = empDF.orderBy(col("sexo").asc_nulls_last())

empOrdCrescSexNullLastDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

#### Drop

In [33]:
empAlt02DF = empDF.drop('sexo', 'setor', 'func')

empAlt02DF.show()

+------------------+----------+-------------+-------------+---------+
|              nome| data_nasc|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+-------------+-------------+---------+
|     Abgail Correa|18/09/1985|         true|         true| 11250.95|
|  André dos Santos|02/02/1983|        false|         true|  9846.33|
|       Bruna Souza|05/12/1994|         true|         true|  8960.47|
|  Bernado Nogueira|05/06/1998|        false|         true|  9862.32|
|     Carlos Bonfim|26/01/1979|         true|        false| 21641.84|
|  Cristina Batista|17/11/1989|        false|         true| 13945.09|
|      Daniel Silva|12/09/1978|         true|         true|  9016.14|
|    Darlene Campos|19/11/1991|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|         true|        false|  15360.7|
|Francisco Oliveira|19/01/1989|        false|         true| 10563.61|
+------------------+----------+-------------+-------------+---------+

In [34]:
empAlt02DF = empDF.drop('none', 'func')

empAlt02DF.show()

+------------------+----------+----+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+-----+-------------+-------------+---------+
|     Abgail Correa|18/09/1985|   F|    2|         true|         true| 11250.95|
|  André dos Santos|02/02/1983|   M|    1|        false|         true|  9846.33|
|       Bruna Souza|05/12/1994|   F|    3|         true|         true|  8960.47|
|  Bernado Nogueira|05/06/1998|   M|    2|        false|         true|  9862.32|
|     Carlos Bonfim|26/01/1979|null|    2|         true|        false| 21641.84|
|  Cristina Batista|17/11/1989|   F|    2|        false|         true| 13945.09|
|      Daniel Silva|12/09/1978|   M|    3|         true|         true|  9016.14|
|    Darlene Campos|19/11/1991|   F|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F|    3|         true|        false|  15360.7|
|Francisco Oliveira|19/01/1989|null|    2|        false|         true| 10563.61|
+------------------+----------+----+-----+-------------+-------------+---------+

A partir do dataframe empDF, gerar dois dataframes com as seguintes configurações:

emp2ColDF:
root
|-- nome: string (nullable = true)
|-- func: string (nullable = true)


emp4ColDF:
root
|-- nome: string (nullable = true)
|-- data_nasc: string (nullable = true)
|-- sexo: string (nullable = true)
|-- func: string (nullable = true)
|-- setor: long (nullable = true)
|-- ind_ponto_elt: boolean (nullable = true)
|-- sal_bruto: double (nullable = true)

In [35]:
#Atividade 2

emp2ColDF = empDF.select('nome', 'func')
emp2ColDF.show()
emp2ColDF.printSchema()

emp4ColDF = empDF.select('nome', 'data_nasc', 'sexo', 'func', 'setor', 'ind_ponto_elt', 'sal_bruto')
emp4ColDF.show()
emp4ColDF.printSchema()

+------------------+------------------+
|              nome|              func|
+------------------+------------------+
|     Abgail Correa| Engheira de Dados|
|  André dos Santos|       Assessor RH|
|       Bruna Souza|  Assessora Vendas|
|  Bernado Nogueira|    Assessor de TI|
|     Carlos Bonfim|    Gerentes de TI|
|  Cristina Batista|Cientista de Dados|
|      Daniel Silva|   Assessor Vendas|
|    Darlene Campos|     Gerente de RH|
|  Fabiana Monteiro| Gerente de Vendas|
|Francisco Oliveira| Analista de Dados|
+------------------+------------------+

root
 |-- nome: string (nullable = true)
 |-- func: string (nullable = true)

+------------------+----------+----+------------------+-----+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+---------+
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true| 11250.95|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|         true|  9846.33|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|  8960.47|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|         true|  9862.32|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|        false| 21641.84|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|         true| 13945.09|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|  9016.14|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|        false|  15360.7|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+---------+

root
 |-- nome: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- func: string (nullable = true)
 |-- setor: long (nullable = true)
 |-- ind_ponto_elt: boolean (nullable = true)
 |-- sal_bruto: double (nullable = true)