# Importações básicas

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pyspark.sql.functions as F


from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

# Iniciar a sessão Spark

In [2]:
spark = SparkSession.builder\
                    .config("spark.master","local[*]")\
                    .appName("Tranformações - Aula x")\
                    .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/09/03 09:45:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Tranformações de dataframe

## Criação de dataframe spark

In [3]:
# cria array com o conteúdo a ser posto no dataframe
registrosEmpregados = [
    ("Abgail Correa"     ,"18/09/1985","F","Engheira de Dados" ,2,True ,True ,11250.95),
    ("André dos Santos"  ,"02/02/1983","M","Assessor RH"       ,1,False,True ,9846.33),
    ("Bruna Souza"       ,"05/12/1994","F","Assessora Vendas"  ,3,True ,True ,8960.47),
    ("Bernado Nogueira"  ,"05/06/1998","M","Assessor de TI"    ,2,False,True ,9862.32),
    ("Carlos Bonfim"     ,"26/01/1979",None,"Gerentes de TI"   ,2,True ,False,21641.84),
    ("Cristina Batista"  ,"17/11/1989","F","Cientista de Dados",2,False,True ,13945.09),
    ("Daniel Silva"      ,"12/09/1978","M","Assessor Vendas"   ,3,True ,True ,9016.14),
    ("Darlene Campos"    ,"19/11/1991","F","Gerente de RH"     ,1,False,False,20365.66),
    ("Fabiana Monteiro"  ,"22/04/1988","F","Gerente de Vendas" ,3,True ,False,15360.70),
    ("Francisco Oliveira","19/01/1989",None,"Analista de Dados",2,False,True ,10563.61)
]

colunas = ["nome","data_nasc","sexo","func","setor","ind_prev_priv","ind_ponto_elt","sal_bruto"]

empDF = spark.createDataFrame(registrosEmpregados).toDF(*colunas)

In [4]:
empDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

In [5]:
empDF.printSchema()

root
 |-- nome: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- func: string (nullable = true)
 |-- setor: long (nullable = true)
 |-- ind_prev_priv: boolean (nullable = true)
 |-- ind_ponto_elt: boolean (nullable = true)
 |-- sal_bruto: double (nullable = true)

Criar um dataframe chamado setorDF(referente aos setores da empresa)
 
 O dataframe deverá conter os seguintes valores e estrutura:
 
+---------+----------+
|cod_setor|nome_setor|
+---------+----------+
|        1+        RH|
+---------+----------+
|        2+        TI|
+---------+----------+
|        3+    Vendas|
+---------+----------+

In [19]:
# Atividade 01
setores = [
    (1,"RH"),
    (2,"TI"),
    (3,"Vendas")
]

colunas = ["cod_setor","nome_setor"]

setorDF = spark.createDataFrame(setores).toDF(*colunas)

In [41]:
setorDF.printSchema()

root
 |-- cod_setor: long (nullable = true)
 |-- nome_setor: string (nullable = true)

In [8]:
setorDF.show()

+---------+----------+
|cod_setor|nome_setor|
+---------+----------+
|        1|        RH|
|        2|        TI|
|        3|    Vendas|
+---------+----------+

## Reorganização de registros (orderBy e sort)

### crescente

In [9]:
empOrdCresSalDF = empDF.orderBy("nome")

empOrdCresSalDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

In [10]:
empOrdCresSalDF = empDF.orderBy("sal_bruto")

empOrdCresSalDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

### Decrecente

In [11]:
empOrdCresSalDF = empDF.sort(F.desc("sal_bruto"))

empOrdCresSalDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

### ordenação com valores nulos

#### Ordenação descrescemte com os nulos nos primeiros registros

In [12]:
empOrdDecrSexNullLastDF = empDF.orderBy(F.desc_nulls_last ("sexo"))

empOrdDecrSexNullLastDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

#### Ordenação crescente com os nulos nos primeiros registros

In [13]:
empOrdCrescSexNullFirstDF = empDF.orderBy(asc_nulls_first("sexo"))

empOrdCrescSexNullFirstDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

#### Ordenação crescente com os nulos nos últimos registros

In [14]:
empOrdCrescSexNullLastDF = empDF.orderBy(col("sexo").asc_nulls_last())

empOrdCrescSexNullLastDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

## Exclusão e inclusão de colunas

### Exclusão

#### select

In [15]:
empOrdCrescSexNullLastDF = empDF.orderBy(col("sexo").asc_nulls_last())

empOrdCrescSexNullLastDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

#### Drop

In [16]:
empAlt02DF = empDF.drop('sexo', 'setor', 'func')

empAlt02DF.show()

+------------------+----------+-------------+-------------+---------+
|              nome| data_nasc|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+-------------+-------------+---------+
|     Abgail Correa|18/09/1985|         true|         true| 11250.95|
|  André dos Santos|02/02/1983|        false|         true|  9846.33|
|       Bruna Souza|05/12/1994|         true|         true|  8960.47|
|  Bernado Nogueira|05/06/1998|        false|         true|  9862.32|
|     Carlos Bonfim|26/01/1979|         true|        false| 21641.84|
|  Cristina Batista|17/11/1989|        false|         true| 13945.09|
|      Daniel Silva|12/09/1978|         true|         true|  9016.14|
|    Darlene Campos|19/11/1991|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|         true|        false|  15360.7|
|Francisco Oliveira|19/01/1989|        false|         true| 10563.61|
+------------------+----------+-------------+-------------+---------+

In [17]:
empAlt02DF = empDF.drop('none', 'func')

empAlt02DF.show()

+------------------+----------+----+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+-----+-------------+-------------+---------+
|     Abgail Correa|18/09/1985|   F|    2|         true|         true| 11250.95|
|  André dos Santos|02/02/1983|   M|    1|        false|         true|  9846.33|
|       Bruna Souza|05/12/1994|   F|    3|         true|         true|  8960.47|
|  Bernado Nogueira|05/06/1998|   M|    2|        false|         true|  9862.32|
|     Carlos Bonfim|26/01/1979|null|    2|         true|        false| 21641.84|
|  Cristina Batista|17/11/1989|   F|    2|        false|         true| 13945.09|
|      Daniel Silva|12/09/1978|   M|    3|         true|         true|  9016.14|
|    Darlene Campos|19/11/1991|   F|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F|    3|         true|        false|  15360.7|
|Francisco Oliveira|19/01/1989|null|    2|        false|         true| 10563.61|
+------------------+----------+----+-----+-------------+-------------+---------+

A partir do dataframe empDF, gerar dois dataframes com as seguintes configurações:

emp2ColDF:
root
|-- nome: string (nullable = true)
|-- func: string (nullable = true)


emp4ColDF:
root
|-- nome: string (nullable = true)
|-- data_nasc: string (nullable = true)
|-- sexo: string (nullable = true)
|-- func: string (nullable = true)
|-- setor: long (nullable = true)
|-- ind_ponto_elt: boolean (nullable = true)
|-- sal_bruto: double (nullable = true)

In [18]:
#Atividade 2

emp2ColDF = empDF.select('nome', 'func')
emp2ColDF.show()
emp2ColDF.printSchema()

emp4ColDF = empDF.select('nome', 'data_nasc', 'sexo', 'func', 'setor', 'ind_ponto_elt', 'sal_bruto')
emp4ColDF.show()
emp4ColDF.printSchema()

+------------------+------------------+
|              nome|              func|
+------------------+------------------+
|     Abgail Correa| Engheira de Dados|
|  André dos Santos|       Assessor RH|
|       Bruna Souza|  Assessora Vendas|
|  Bernado Nogueira|    Assessor de TI|
|     Carlos Bonfim|    Gerentes de TI|
|  Cristina Batista|Cientista de Dados|
|      Daniel Silva|   Assessor Vendas|
|    Darlene Campos|     Gerente de RH|
|  Fabiana Monteiro| Gerente de Vendas|
|Francisco Oliveira| Analista de Dados|
+------------------+------------------+

root
 |-- nome: string (nullable = true)
 |-- func: string (nullable = true)

+------------------+----------+----+------------------+-----+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+---------+
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true| 11250.95|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|         true|  9846.33|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|  8960.47|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|         true|  9862.32|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|        false| 21641.84|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|         true| 13945.09|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|  9016.14|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|        false|  15360.7|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+---------+

root
 |-- nome: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- func: string (nullable = true)
 |-- setor: long (nullable = true)
 |-- ind_ponto_elt: boolean (nullable = true)
 |-- sal_bruto: double (nullable = true)

In [21]:
empDF.printSchema()

root
 |-- nome: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- func: string (nullable = true)
 |-- setor: long (nullable = true)
 |-- ind_prev_priv: boolean (nullable = true)
 |-- ind_ponto_elt: boolean (nullable = true)
 |-- sal_bruto: double (nullable = true)

### Inclusão

#### withColumn

In [26]:
empComCodDF = empDF.sort("nome")\
                   .withColumn("cod_emp", F.monotonically_increasing_id()+1) #Exige dois parâmetros (nome coluna e lógica a ser aplicada)


empComCodDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+-------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|cod_emp|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+-------+
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|      1|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|      2|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|      3|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|      4|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|      5|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|      6|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|      7|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|      8|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|      9|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|     10|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+-------+

#### withColumn + when(transformação em uma coluna já existentes)

In [31]:
empSemNulosDF = empDF.withColumn("sexo", F.when(
                                                 F.col("sexo").isNull(), 
                                                 F.lit("M")
                                                )
                                          .otherwise(F.col("sexo")) #Caso não atenda as condições acima, 
                                                                     #ele vai manter os dados que já estavam anterioremente.
                                )
empSemNulosDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|
|     Carlos Bonfim|26/01/1979|   M|    Gerentes de TI|    2|         true|        false| 21641.84|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
|Francisco Oliveira|19/01/1989|   M| Analista de Dados|    2|        false|         true| 10563.61|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+

#### select + alias

In [40]:
empComSalLiqDF = empDF.select("*", (F.col("sal_bruto") * 0.72).alias("sal_liq"))\
                      .withColumn("dif_sal", F.col("sal_bruto") - F.col("sal_liq"))

empComSalLiqDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+------------------+------------------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|           sal_liq|           dif_sal|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+------------------+------------------+
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|          8100.684|3150.2660000000005|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33| 7089.357599999999|2756.9724000000006|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|6451.5383999999995|         2508.9316|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|         7100.8704|         2761.4496|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|        15582.1248| 6059.715200000001|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|        10040.4648|3904.6252000000004|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|         6491.6208|2524.5191999999997|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|        14663.2752|         5702.3848|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|         11059.704| 4300.996000000001|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|         7605.7992|         2957.8108|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+------------------+------------------+

#### join

In [52]:
exprJoin01 = (empDF.setor == setorDF['cod_setor'])

empComSetorDF = empDF.join(setorDF, exprJoin01, "left")\
                     .drop('cod_setor', 'setor') # Apagando as colunas do DF
#empComSetorDF = empComSetorDF.drop('cod_setor', 'setor')

empComSetorDF.show()

+------------------+----------+----+------------------+-------------+-------------+---------+----------+
|              nome| data_nasc|sexo|              func|ind_prev_priv|ind_ponto_elt|sal_bruto|nome_setor|
+------------------+----------+----+------------------+-------------+-------------+---------+----------+
|  André dos Santos|02/02/1983|   M|       Assessor RH|        false|         true|  9846.33|        RH|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|        false|        false| 20365.66|        RH|
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|         true|         true| 11250.95|        TI|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|        false|         true|  9862.32|        TI|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|         true|        false| 21641.84|        TI|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|        false|         true| 13945.09|        TI|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|        false|         true| 10563.61|        TI|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|         true|         true|  8960.47|    Vendas|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|         true|         true|  9016.14|    Vendas|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|         true|        false|  15360.7|    Vendas|
+------------------+----------+----+------------------+-------------+-------------+---------+----------+

<h4 style="color:yellow">Exercício 03: inclusão de colunas</h4>

1 -  Criar um dataframe chamado estCivilEmpDF(referente aos estados civis dos empregados da empresa)

 O dataframe deverá conter os seguintes valores e estrutura:

+-------+------------------+-------------+
|cod_emp|              nome|cod_est_civil|
+-------+------------------+-------------+
|      1|     Abgail Correa|            1|
|      2|  André dos Santos|            2|
|      3|  Bernado Nogueira|            1|
|      4|       Bruna Souza|            3|
|      5|     Carlos Bonfim|            2|
|      6|  Cristina Batista|            1|
|      7|      Daniel Silva|            2|
|      8|    Darlene Campos|            2|
|      9|  Fabiana Monteiro|            1|
|     10|Francisco Oliveira|            3|
+-------+------------------+-------------+

In [57]:
# cria array com o conteúdo a ser posto no dataframe
registrosEmpregados = [
    ("1", "Abgail Correa"     ,1),
    ("2", "André dos Santos"  ,2),
    ("4", "Bruna Souza"       ,3),
    ("3", "Bernado Nogueira"  ,1),
    ("5", "Carlos Bonfim"     ,2),
    ("6", "Cristina Batista"  ,1),
    ("7", "Daniel Silva"      ,2),
    ("8", "Darlene Campos"    ,2),
    ("9", "Fabiana Monteiro"  ,1),
    ("10", "Francisco Oliveira",3)
]

colunas = ["cod_emp","nome","cod_est_civil"]

estCivilEmpDF = spark.createDataFrame(registrosEmpregados).toDF(*colunas)

2 - Criar um dataframe chamado empComEstCivilDF a partir da união dos dataframes empComCodDF e estCivilEmpDF

In [70]:
exprJoin = (empComCodDF.cod_emp == estCivilEmpDF['cod_emp'])

#empComEstCivilDF = empComCodDF.join(estCivilEmpDF, exprJoin, "left")\
                             # .drop(estCivilEmpDF.cod_emp, estCivilEmpDF.nome)


empComEstCivilDF = empComCodDF.join(estCivilEmpDF, ["cod_emp"], "left")
            
#empComSetorDF = empDF.join(setorDF, exprJoin01, "left")\
                     #.drop('cod_setor', 'setor') # Apagando as colunas do DF
    
empComEstCivilDF.show()

+-------+------------------+----------+----+------------------+-----+-------------+-------------+---------+------------------+-------------+
|cod_emp|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|              nome|cod_est_civil|
+-------+------------------+----------+----+------------------+-----+-------------+-------------+---------+------------------+-------------+
|      1|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|     Abgail Correa|            1|
|      2|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|  André dos Santos|            2|
|      3|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|  Bernado Nogueira|            1|
|      4|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|       Bruna Souza|            3|
|      5|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|     Carlos Bonfim|            2|
|      6|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|  Cristina Batista|            1|
|      7|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|      Daniel Silva|            2|
|      8|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|    Darlene Campos|            2|
|      9|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|  Fabiana Monteiro|            1|
|     10|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|Francisco Oliveira|            3|
+-------+------------------+----------+----+------------------+-----+-------------+-------------+---------+------------------+-------------+

In [58]:
empComCodDF.show()

+------------------+----------+----+------------------+-----+-------------+-------------+---------+-------+
|              nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|cod_emp|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+-------+
|     Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|      1|
|  André dos Santos|02/02/1983|   M|       Assessor RH|    1|        false|         true|  9846.33|      2|
|  Bernado Nogueira|05/06/1998|   M|    Assessor de TI|    2|        false|         true|  9862.32|      3|
|       Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|      4|
|     Carlos Bonfim|26/01/1979|null|    Gerentes de TI|    2|         true|        false| 21641.84|      5|
|  Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|      6|
|      Daniel Silva|12/09/1978|   M|   Assessor Vendas|    3|         true|         true|  9016.14|      7|
|    Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|      8|
|  Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|      9|
|Francisco Oliveira|19/01/1989|null| Analista de Dados|    2|        false|         true| 10563.61|     10|
+------------------+----------+----+------------------+-----+-------------+-------------+---------+-------+

In [59]:
estCivilEmpDF.show()

+-------+------------------+-------------+
|cod_emp|              nome|cod_est_civil|
+-------+------------------+-------------+
|      1|     Abgail Correa|            1|
|      2|  André dos Santos|            2|
|      4|       Bruna Souza|            3|
|      3|  Bernado Nogueira|            1|
|      5|     Carlos Bonfim|            2|
|      6|  Cristina Batista|            1|
|      7|      Daniel Silva|            2|
|      8|    Darlene Campos|            2|
|      9|  Fabiana Monteiro|            1|
|     10|Francisco Oliveira|            3|
+-------+------------------+-------------+

## Exclusão e inclusão de linhas

### Exclusão

#### where e filter

In [81]:
empMulheresDF = empDF.where(col("sexo") == 'F')

empMulheresDF.show()

+----------------+----------+----+------------------+-----+-------------+-------------+---------+
|            nome| data_nasc|sexo|              func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+----------------+----------+----+------------------+-----+-------------+-------------+---------+
|   Abgail Correa|18/09/1985|   F| Engheira de Dados|    2|         true|         true| 11250.95|
|     Bruna Souza|05/12/1994|   F|  Assessora Vendas|    3|         true|         true|  8960.47|
|Cristina Batista|17/11/1989|   F|Cientista de Dados|    2|        false|         true| 13945.09|
|  Darlene Campos|19/11/1991|   F|     Gerente de RH|    1|        false|        false| 20365.66|
|Fabiana Monteiro|22/04/1988|   F| Gerente de Vendas|    3|         true|        false|  15360.7|
+----------------+----------+----+------------------+-----+-------------+-------------+---------+

In [92]:
#empMulheresComPrevDF = empMulheresDF.where(col("ind_prev_priv") == 'true')

#empMulheresComPrevDF = empMulheresDF.filter("ind_prev_priv")

empMulheresComPrevDF = empMulheresDF.filter(~col("ind_prev_priv")) #Negação

empMulheresComPrevDF.show()

+----+---------+----+----+-----+-------------+-------------+---------+
|nome|data_nasc|sexo|func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+----+---------+----+----+-----+-------------+-------------+---------+
+----+---------+----+----+-----+-------------+-------------+---------+

In [89]:
#empMulheresDF = empDF.where("sexo = 'F' AND sal_bruto < 10000") #Consulta SQL

empMulheresDF = empDF.where(""" sexo = 'F' 
                            AND sal_bruto < 10000
                            """) 

empMulheresDF.show()

+-----------+----------+----+----------------+-----+-------------+-------------+---------+
|       nome| data_nasc|sexo|            func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+-----------+----------+----+----------------+-----+-------------+-------------+---------+
|Bruna Souza|05/12/1994|   F|Assessora Vendas|    3|         true|         true|  8960.47|
+-----------+----------+----+----------------+-----+-------------+-------------+---------+

#### limit

In [96]:
empComDoisMenorSalDF = empDF.sort("sal_bruto")\
                            .limit(2)

empComDoisMenorSalDF.show()

+------------+----------+----+----------------+-----+-------------+-------------+---------+
|        nome| data_nasc|sexo|            func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------+----------+----+----------------+-----+-------------+-------------+---------+
| Bruna Souza|05/12/1994|   F|Assessora Vendas|    3|         true|         true|  8960.47|
|Daniel Silva|12/09/1978|   M| Assessor Vendas|    3|         true|         true|  9016.14|
+------------+----------+----+----------------+-----+-------------+-------------+---------+

#### distict + select

In [103]:
domSexoDF = empDF.select("sexo", "ind_prev_priv")\
                 .distinct()\
                 .sort("sexo", F.desc("ind_prev_priv"))
                 #.sort(F.col("sexo").desc(), F.desc("ind_prev_priv"))

domSexoDF.show()

+----+-------------+
|sexo|ind_prev_priv|
+----+-------------+
|null|         true|
|null|        false|
|   F|         true|
|   F|        false|
|   M|         true|
|   M|        false|
+----+-------------+

<h4 style="color:yellow">Exercício 04: exclusão de linhas (registros) </h4>

a) a partir do dataframe empDF, criar dataframe contendo os nomes, as datas de nascimento e as funções dos empregados que 
trabalham no setor 2

b) a partir do dataframe empDF, criar dataframe contendo os nomes e os salários dos 3 empregados do 
sexo masculino com os maiores salários

In [108]:
empFuncDF = empDF.select("nome", "data_nasc", "func")\
                 .where(col("setor") == 2)

empFuncDF.show()

+------------------+----------+------------------+
|              nome| data_nasc|              func|
+------------------+----------+------------------+
|     Abgail Correa|18/09/1985| Engheira de Dados|
|  Bernado Nogueira|05/06/1998|    Assessor de TI|
|     Carlos Bonfim|26/01/1979|    Gerentes de TI|
|  Cristina Batista|17/11/1989|Cientista de Dados|
|Francisco Oliveira|19/01/1989| Analista de Dados|
+------------------+----------+------------------+

In [111]:
emp3MascMaiorSalDF = empDF.select("nome", "sal_bruto")\
                 .where(col("sexo") == 'M')\
                 .sort(desc("sal_bruto"))

emp3MascMaiorSalDF.show()

+----------------+---------+
|            nome|sal_bruto|
+----------------+---------+
|Bernado Nogueira|  9862.32|
|André dos Santos|  9846.33|
|    Daniel Silva|  9016.14|
+----------------+---------+

### Inclusão

#### Criação de um novo dataframe

In [114]:
# cria array com o conteúdo a ser posto no dataframe
registrosAdicEmpregados = [
    ("Ana Carvalho"  ,"16/08/1983","F","Coordenadora de Análise de dado" ,2,True ,True ,18754.38),
    ("Fabio Martins" ,"20/02/1979","M","Coordenador de RH"               ,1,False,True ,17465.54),
    ("Yasmin Botelho","05/12/2001","F","Coordenadora de Vendas"          ,3,True ,True ,17970.46),
]

colunas = ["nome","data_nasc","sexo","func","setor","ind_prev_priv","ind_ponto_elt","sal_bruto"]

empAdicDF = spark.createDataFrame(registrosAdicEmpregados).toDF(*colunas)

#### union

In [116]:
uniaoDF = empDF.union(empAdicDF)

uniaoDF.show()

+------------------+----------+----+--------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|                func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+--------------------+-----+-------------+-------------+---------+
|     Abgail Correa|18/09/1985|   F|   Engheira de Dados|    2|         true|         true| 11250.95|
|  André dos Santos|02/02/1983|   M|         Assessor RH|    1|        false|         true|  9846.33|
|       Bruna Souza|05/12/1994|   F|    Assessora Vendas|    3|         true|         true|  8960.47|
|  Bernado Nogueira|05/06/1998|   M|      Assessor de TI|    2|        false|         true|  9862.32|
|     Carlos Bonfim|26/01/1979|null|      Gerentes de TI|    2|         true|        false| 21641.84|
|  Cristina Batista|17/11/1989|   F|  Cientista de Dados|    2|        false|         true| 13945.09|
|      Daniel Silva|12/09/1978|   M|     Assessor Vendas|    3|         true|         true|  9016.14|
|    Darlene Campos|19/11/1991|   F|       Gerente de RH|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F|   Gerente de Vendas|    3|         true|        false|  15360.7|
|Francisco Oliveira|19/01/1989|null|   Analista de Dados|    2|        false|         true| 10563.61|
|      Ana Carvalho|16/08/1983|   F|Coordenadora de A...|    2|         true|         true| 18754.38|
|     Fabio Martins|20/02/1979|   M|   Coordenador de RH|    1|        false|         true| 17465.54|
|    Yasmin Botelho|05/12/2001|   F|Coordenadora de V...|    3|         true|         true| 17970.46|
+------------------+----------+----+--------------------+-----+-------------+-------------+---------+

In [119]:
registrosAdicEmpregados = [
    ("Frank Alex", "18/06/1979", "M", "Engenheiro de Dados", 2, True, True)
]

colunas = ["nome","data_nasc","sexo","func","setor","ind_prev_priv","ind_ponto_elt"]

empAdic02DF = spark.createDataFrame(registrosAdicEmpregados).toDF(*colunas)

In [120]:
uniao02DF = uniaoDF.union(empAdic02DF.withColumn("sal_bruto", F.lit(None)))

uniao02DF.show()

+------------------+----------+----+--------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|                func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+--------------------+-----+-------------+-------------+---------+
|     Abgail Correa|18/09/1985|   F|   Engheira de Dados|    2|         true|         true| 11250.95|
|  André dos Santos|02/02/1983|   M|         Assessor RH|    1|        false|         true|  9846.33|
|       Bruna Souza|05/12/1994|   F|    Assessora Vendas|    3|         true|         true|  8960.47|
|  Bernado Nogueira|05/06/1998|   M|      Assessor de TI|    2|        false|         true|  9862.32|
|     Carlos Bonfim|26/01/1979|null|      Gerentes de TI|    2|         true|        false| 21641.84|
|  Cristina Batista|17/11/1989|   F|  Cientista de Dados|    2|        false|         true| 13945.09|
|      Daniel Silva|12/09/1978|   M|     Assessor Vendas|    3|         true|         true|  9016.14|
|    Darlene Campos|19/11/1991|   F|       Gerente de RH|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F|   Gerente de Vendas|    3|         true|        false|  15360.7|
|Francisco Oliveira|19/01/1989|null|   Analista de Dados|    2|        false|         true| 10563.61|
|      Ana Carvalho|16/08/1983|   F|Coordenadora de A...|    2|         true|         true| 18754.38|
|     Fabio Martins|20/02/1979|   M|   Coordenador de RH|    1|        false|         true| 17465.54|
|    Yasmin Botelho|05/12/2001|   F|Coordenadora de V...|    3|         true|         true| 17970.46|
|        Frank Alex|18/06/1979|   M| Engenheiro de Dados|    2|         true|         true|     null|
+------------------+----------+----+--------------------+-----+-------------+-------------+---------+

<h4 style="color:yellow">Exercício 05: exclusão de linhas (registros)</h4>

In [ ]:
# a) criar dataframe com dois novos registros, porém com apenas os campos
# listados abaixo:

###root
### |-- nome: string (nullable = true)
### |-- data_nasc: string (nullable = true)
### |-- sexo: string (nullable = true)
### |-- func: string (nullable = true)
### |-- setor: long (nullable = true)
### |-- ind_prev_priv: boolean (nullable = true)
### |-- ind_ponto_elt: boolean (nullable = true)

# b) cria array com o conteúdo a ser posto no dataframe

# c) Após criar o dataframe, efetuar a união do dataframes uniaoDF com ele e observar o que acontece

In [122]:
registrosAdic03Empregados = [
    ("Vinicius Carvalho"  ,"06/10/1995","M","Analista de Dados" ,1,True ,True),
    ("João Luiz Alves","05/03/2000","M","Estagiário de Dados"   ,3,True ,True),
]

colunas = ["nome","data_nasc","sexo","func","setor","ind_prev_priv","ind_ponto_elt"]

empAdic03DF = spark.createDataFrame(registrosAdic03Empregados).toDF(*colunas)

In [124]:
uniao03DF = uniaoDF.union(empAdic03DF.withColumn("sal_bruto", F.lit(None)))

uniao03DF.show()

+------------------+----------+----+--------------------+-----+-------------+-------------+---------+
|              nome| data_nasc|sexo|                func|setor|ind_prev_priv|ind_ponto_elt|sal_bruto|
+------------------+----------+----+--------------------+-----+-------------+-------------+---------+
|     Abgail Correa|18/09/1985|   F|   Engheira de Dados|    2|         true|         true| 11250.95|
|  André dos Santos|02/02/1983|   M|         Assessor RH|    1|        false|         true|  9846.33|
|       Bruna Souza|05/12/1994|   F|    Assessora Vendas|    3|         true|         true|  8960.47|
|  Bernado Nogueira|05/06/1998|   M|      Assessor de TI|    2|        false|         true|  9862.32|
|     Carlos Bonfim|26/01/1979|null|      Gerentes de TI|    2|         true|        false| 21641.84|
|  Cristina Batista|17/11/1989|   F|  Cientista de Dados|    2|        false|         true| 13945.09|
|      Daniel Silva|12/09/1978|   M|     Assessor Vendas|    3|         true|         true|  9016.14|
|    Darlene Campos|19/11/1991|   F|       Gerente de RH|    1|        false|        false| 20365.66|
|  Fabiana Monteiro|22/04/1988|   F|   Gerente de Vendas|    3|         true|        false|  15360.7|
|Francisco Oliveira|19/01/1989|null|   Analista de Dados|    2|        false|         true| 10563.61|
|      Ana Carvalho|16/08/1983|   F|Coordenadora de A...|    2|         true|         true| 18754.38|
|     Fabio Martins|20/02/1979|   M|   Coordenador de RH|    1|        false|         true| 17465.54|
|    Yasmin Botelho|05/12/2001|   F|Coordenadora de V...|    3|         true|         true| 17970.46|
| Vinicius Carvalho|06/10/1995|   M|   Analista de Dados|    1|         true|         true|     null|
|   João Luiz Alves|05/03/2000|   M| Estagiário de Dados|    3|         true|         true|     null|
+------------------+----------+----+--------------------+-----+-------------+-------------+---------+